@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    cursor: url("../static/cursor.png"), auto;
}

body {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    background-color: #4b3a96;
    background-image: url(../static/background2.jpeg);
    background-size: 1450px 850px;
}

h1 {
    color: #de5f85;
    font-size: 50px;
    line-height: 110%;
}

h3:hover {
    background-color: lightcoral;
    cursor: url("../static/cursorpoint.png"), auto;
}
.input {
    background-color: #ffc374;
    margin: auto;
    border: solid;
    border-color: #de5f85;
    width: 90%;
    margin-top: -9px;
    padding: 20px;
    min-width: 380px;
    min-height: 100px;
    position: relative;
    padding-bottom: 47px;
    padding-top: 0px;
    max-width: 700px;
    z-index: 3;
}

h4{
    color: #de5f85;
    font-size: 30px;
}

.yourInput{
    color: black;
    font-size: 20px;
    margin-top: -20px;
}
.nextSteps{
    color: black;
    font-size: 16px;
    font-family: "Cormac";
    font-weight: normal;
    margin-top: -3px;
}

.next{
    color: #C92D39;
    text-decoration: underline;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

#result1, #result2, #result3, #result4, #result5, #result6, #result7{
    font-family: "Cormac";

}

.results, .summaryHolder{
    background-color: white;
    border: solid;
    border-color: #de5f85;
    padding: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
}

h3 {
    margin: 10px auto;
    background-color: #834187;
    border: solid;
    border-color: #de5f85;
    border-radius: 25px;
    width: 30%;
    padding: 10px;
    color: white;
}
#home{
    position: absolute;
    width: 30%;
    bottom: 5px;
    left: 20px;
}
#ticket {
    position: absolute;
    width: 30%;
    bottom: 5px;
    right: 20px;
    font-size: 110%;
}

#bug1 {
    position: fixed;
    left:2%;
    width: 20%;
    top:15%;
    z-index: 1;
}


#bug1:hover{
    margin-top: 150px;
}

#bug2{
    position: fixed;
    width: 25%;
    right: 0%;
    bottom: 25%;
    z-index: 1;
}

#bug2:hover{
    margin-bottom: 150px;
}

#sound {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px;
}

#sound:hover{
    cursor: url("../static/cursorpoint.png"), auto;
}

#summary{
    padding: 5px 20px;
    margin: 0;
    font-family: Cormac;

}

.yourInput{
    margin-top: 20px;
    margin-bottom: 10px;
}