@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    cursor: url("../static/cursor.png"), auto;
}

body {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    background-color: #4b3a96;
    background-image: url(../static/background2.jpeg);
    background-size: 1450px 850px;
}

h1 {
    color: #de5f85;
    font-size: 60px;
    line-height: 110%;
}

.nav {
    background-color: #ffc374;
    margin: auto;
    border: solid;
    border-color: #de5f85;
    width: 30%;
    margin-top: 20px;
    padding: 30px;
    min-width: 700px;
    min-height: 100px;
    position: relative;
    padding-bottom: 80px;
}

#button {
    background-color: #834187;
    border: solid;
    border-color: #de5f85;
    border-radius: 25px;
    width: 10%;
    padding: 5px;
    color: white;
    position: absolute;
    left: 39%;
    min-width: 150px;
    min-height: 20px;
}

#button:hover {
    cursor: url("../static/cursorpoint.png"), auto;
    background-color: #99d9ea;
}